.centerEl{
    width: 45%;
}
.imgBorder {
    border: 3px dashed rgba(222,231,255,255);
    border-radius: 50%;
    height: 6rem;
    margin-top: 0.2rem;
    padding: 4px;
  }
  .setProfileP{
    color:rgba(4,69,254,255);
  }
.paraInput{
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: space-between;
    padding: 8px 10px;
}
.paraInput .sp2{
    color: rgba(81,195,105,255);
}
.leftContent {
    text-align: initial;
}
.infoForm{
    display: flex;
    margin: 16px 0px;
    flex-direction: column;
}
.infoForm input{
    margin: 6px 0 1rem 0;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid lightgrey;
    font-weight: 400;
}
.infoForm textarea{
    height: 155px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
}
.infoForm button{
    background: rgba(4,69,254,255);
    border: 0px;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 8px;
    color: white;
}
.addSocialLabel{
    margin-top: 1rem;
    color:rgba(4,69,254,255);
}
.addSocial{
    border: 1px solid lightgrey;
    margin-bottom:0.6rem;
    font-size: 14px;
    padding: 6px;
    color: black;
    font-weight: 400;
    border-radius: 5px
    
}
.instaIcon{
    color: rgba(216,90,168,255);
}