.section-head{
    display: flex;
    flex-direction: row;
}
.left-photo{
    background: url('../asset/left-photo.PNG');
    height: 100vh;
    width: 50%;
    background-size: cover;
}
.right-login-form{
    margin: auto 0px;
    width: 50%;
    margin-top: 5%;
    /* padding-top: 5%; */
}

footer{
    /* padding-top: 23%; */
    font-size: x-small;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 5%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

form{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.startBtn{
    background:rgba(85,56,232,255);
    border: 0px;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 5px;
}
.emailGoogleBtn{
    background:#ffff;
    color:black;
    border: 1px solid #ced4da;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.emailGoogleBtn svg{
    margin-bottom: 6px;
}
.googleBtn svg{
    color: #dc3545;
}